body {
    background-image: url("images/ff4.png");
    background-color: #94acce;
    background-repeat: no-repeat;
    background-position: center;
}

#itemWidget, #magicWidget, #statusWidget {
    display: none;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.menu-wrapper {
    display: inline-block;
    width: calc(25% - 20px);
}

.big-menu {
    border: 8px solid #f0e6e6;
    border-radius: 20px;
    width: calc(75% - 20px);
    display: inline-block;
    vertical-align: top;
    height: 600px;
    margin-top: 50px;
    box-sizing: border-box;
    background: linear-gradient(#557ef0, #2c42a3);
    overflow: auto;
}

.select-menu {
    border: 8px solid #f0e6e6;
    border-radius: 20px;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    height: 450px;
    margin-top: 50px;
    box-sizing: border-box;
    background: linear-gradient(#557ef0, #2c42a3);
}

.small-menu {
    border: 8px solid #f0e6e6;
    border-radius: 20px;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    height: 150px;
    margin-top: 0px;
    box-sizing: border-box;
    background: linear-gradient(#557ef0, #2c42a3);
}

.main-text {
    color: #f0e6e6;
    font-size: 14px;
    font-family: Verdana;
}

.menu-text {
    color: #f0e6e6;
    font-size: 25px;
    font-family: Verdana;
    text-align: center;
}

.menu-pad {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.select-menu-pad {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.small-menu-pad {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.link {
    list-style-type: none;
    padding: 2px;
    margin: 0;
}

ul.link>li:hover {
    background-color: #7b8fc7;
    cursor: pointer;
}

.external-link {
    color: #f0e6e6;

}

.external-link:active {
    color: #fa557c;
}

.external-link:hover {
    background-color: #7b8fc7;
    cursor: pointer;
}

.whm-main {
    float: right;
    width: 100px;
    height: 145px;
}

.whm-party {
    float: left;
    width: 120px;
    height: 174px;
    padding-right: 50px;
}

.cat-party {
    float: left;
    clear: both;
    width: 60px;
    height: 87px;
    padding-right: 50px;
    padding-top: 87px;
    padding-left: 60px;
}

.party-table {
    font-size: 20px;
    width: 50%;
    border-collapse: collapse;
    border: 0px solid black;
  }

.party-padding {
    padding-top: 120px;
}